<%- include('./partials/head') %>

  <main>
    <!-- HEADER VISITEKAARTJE -->
    <section class="HEADER_CARD">
      <!-- <img src="/nazneen.jpg" alt="foto_van_mijzelf"> -->
      <h1>Hello</h1>
      <button>klik</button>
    </section>

    <!-- FOUR CARDS -->
    <article>
      <!-- <img src="/hot-chocolate.png" alt="icon_hot_chocolate" />
      <p>Food</p> -->
    </article>

    <article>
      <!-- <img src="/cinema.png" alt="icon_cinema" /> -->
      <!-- <p>Tv shows</p> -->
    </article>

    <article>
      <!-- <img src="/books.png" alt="icon_books" /> -->
      <!-- <p>Favorite books</p> -->
    </article>

    <article>
      <!-- <img src="/user.png" alt="icon_user" /> -->
      <!-- <p>Let's connect</p> -->
    </article>

  </main>

  <%- include('./partials/foot') %>