/* body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-image: url(/purple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article {
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 7px black;
  border: 1px solid black;

  height: 67.7vh;
} */


